<div id="pergaminhos">					
	<h3>Pergaminhos</h3>
	
	<ul>
		<% for(var x=0; x < acoes.length; x++) {%> 

			<% 
				var text_acao = ' ';

				switch (parseInt(acoes[x].acao)) {
					case 1:
						text_acao = "aldeão(ões) coletando recursos";
					break;

					case 2:
						text_acao = "enforcamento(s) programado";
					break;

					case 3:
						text_acao = "aldeão(ões) em treinamento de história";
						
					break;

					case 4:
						text_acao = "aldeão(ões) em treinamento de magia"
					break;
				
				
				}

				var data = new Date();

				var momento_atual = data.getTime();

				var seg_rest = Math.round((acoes[x].acao_termina_em - momento_atual) /1000);
				
				
				
			%> 

			<li>
				<%= acoes[x].quantidade %> <%= text_acao %> - 
				<small>restam <span class="tempo_restante"><%= seg_rest %></span> segundos - <a href="/remover_acao?id= <%= acoes[x]._id %> ">revogar ordem</a></small>
			</li>
		

		<% } %> 

	</ul>
</div>